@import '../../styles';

.Note {
  width: $space-m;
  height: $space-m;
  padding: $space-s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: $blue;
  color: $white;
}
